<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text From Image</title>
</head>

<body>
    <form action="/extractFromImage" method="post">
        <label for="imageURL">Image public URL</label>
        <input type="text" name="url" id="imageURL" required>
        <button>Extract text</button>
    </form>

    <textarea name="eText" id="etext" cols="30" rows="10">
        <%=data%>
    </textarea>
</body>

</html>